.panel-primary.male-unit {
  background: #59aeff;
  color: #ffffff; }

.panel-primary.female-unit {
  background: #fc3a4a;
  color: #ffffff; }

.male-room-partial {
  background: #bfe0ff;
  color: #101010; }

.female-room-partial {
  background: #fcc9ce;
  color: #101010; }

.panel-primary.unoccupied-unit {
  background: #989191;
  color: #ffffff; }

.dorm-unit-common {
  min-height: 4em;
  border: thin solid #dedede;
  line-height: 3em;
  text-align: center;
  font-weight: bold; }

.dorm-room {
  border: thin solid #dedede;
  padding: 5px; }

.dorm-room-name {
  width: 100%;
  font-weight: bold; }

.student {
  width: 100%;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 1px;
  padding: 1px;
  border: thin inset #dedede;
  border-radius: 4px; }
  .student a {
    text-decoration: none;
    color: #101010; }
  .student.available {
    background: #ffffff;
    color: #101010; }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff; }

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #e1e1e1;
  color: #101010; }

strong {
  color: #751281; }

.panel-primary {
  background: #ffffff;
  color: #101010;
  border-color: #751281; }
  .panel-primary .panel-heading {
    background: #751281;
    color: #ffffff;
    border-color: #751281; }
  .panel-primary .panel-title {
    color: #ffffff; }

.btn-primary {
  background-color: #751281;
  color: #ffffff;
  border-color: #751281;
  background-image: -moz-linear-gradient(top, #101010, #751281);
  background-image: -ms-linear-gradient(top, #101010, #751281);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#101010), to(#751281));
  background-image: -webkit-linear-gradient(top, #101010, #751281);
  background-image: -o-linear-gradient(top, #101010, #751281);
  background-image: linear-gradient(top, #101010, #751281);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-fade', endColorstr='$button-background', GradientType=0);
  border-radius: 4px; }
  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #751281; }

.jumbotron {
  background-color: #ffffff;
  color: #101010; }

.navbar-inverse {
  background-color: #751281;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #751281 0%, #521058 100%);
  background-repeat: repeat-x; }
  .navbar-inverse div.container a.navbar-brand, .navbar-inverse div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
    color: #ffffff; }

.dropdown > .dropdown-menu {
  display: none; }

.dropdown:hover > .dropdown-menu {
  display: block; }
