$white: #ffffff;
$black: #101010;
$dark-gray: #837575;
$light-gray: #dedede;
$bright-gray: #e1e1e1;
$purple: #411147;
$dark-purple: #210527;
$beige: #fff2cd;
$red: #fc3a4a;
$light-red: #fcc9ce;
$blue: #59aeff;
$light-blue: #bfe0ff;

