.male-room {
    background: $male-room-background;
    color: $male-room-text;
}

.female-room {
    background: $female-room-background;
    color: $female-room-text;
}

.male-room-partial {
    background: $male-room-partial-background;
    color: $male-room-partial-text;
}

.female-room-partial {
    background: $female-room-partial-background;
    color: $female-room-partial-text;
}

.unoccupied-room {
    background: $unoccupied-room-background;
    color: $unoccupied-room-text;
}

