<?php

return array(
    'propel' => array(
        'database' => array(
            'connections' => array(
                'default' => array(
                    'host'     => 'HOST',
                    'user'     => 'USER',
                    'password' => 'PASSWORD',
                ),
                'pipeline' => array(
                    'dbname' => 'DB_NAME'
                ),
            ),
        ),
    ),
);
